.App {
  height: 100vh;
  width: 100%;
}

.thead {
  font-size: 22px;
  color: gray;
}

.paginationButtons {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid grey;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.paginationButtons a:hover {
  color: white;
  background-color: #ffed99;
}

.paginationActive a {
  color: white;
  background-color: #ffed99;
}

.paginationDisabled a {
  color: #ffed99;
  
}






